main {
    margin: 50px auto;
    width: 500px
}

section {
    margin: 10px;
    margin-top: 50px;
    border: 1px dashed #aaa;
    padding: 20px;
}

section#maze{
    display: flex;
    flex-wrap: wrap;
}

section#maze div{
    border: 1px solid #999;
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px 1px 1px #333;
    color: #fff;
}